<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LNURL-auth demo</title>
    <style>
      body {
        margin: 0px;
        background-color: #111;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        color: #fff;
      }

      a:link,
      a:hover,
      a:active,
      a:visited {
        text-decoration: none;
        color: #000;
      }

      .container {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.2);
      }

      .linking-key {
        margin-top: 16px;
        color: #fd0;
      }

      .lightning-button {
        margin-top: 16px;
        padding: 12px 16px;
        background-color: #fd0;
        border-radius: 8px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div>You are currently logged in as:</div>
      <div class="linking-key">{{.LinkingKey}}</div>
      <a class="lightning-button" href="/logout">
        Logout
      </a>
    </div>
  </body>
</html>
